{% extends "base.html" %}
{% block content %}
<h2>User Dashboard</h2>
<input type="text" id="search" class="form-control mb-4" placeholder="Search product...">

<div class="grid row">
  {% for product in products %}
  <div class="col-md-3 mb-4">
    <div class="card shadow-sm h-100">
      <img src="{{ product.image }}" class="card-img-top zoomable">
      <div class="card-body text-center">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text text-muted">{{ product.code }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
